@import "tailwindcss";
@media print {

  body {
    background: white !important;
  }

  .no-print {
    display: none !important;
  }

  .invoice-container {
    box-shadow: none !important;
    border-radius: 0 !important;
    margin: 0 !important;
    padding: 20px !important;
    width: 100% !important;
  }
}